* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #FBFEFD;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

header {
    color: #111827;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    align-items: flex-end;
    width: 232px;
    height: 50px;
}

.logoPoint {
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background-color: #FFC36A;
    margin: 0 5px 10px 0;
}

.logoLine {
    min-width: 3px;
    min-height: 34px;
    background-color: #FFC36A;
    margin-right: 12px;
}

input[id="a1"] {
    display: none;
}

input[id="a1"]:checked ~ .burger > label > .burger1 {
    transform: translate(0, 8px) rotate(-45deg);
    position: relative;
}

input[id="a1"]:checked ~ .burger > label > .burger2 {
    transform: translate(0, -8px) rotate(45deg);
}

input[id="a1"]:checked ~ .burger > label > .burger3 {
    background-color: #FBFEFD;
}

input[id="a1"]:checked ~ .angle {
    opacity: 1;
}

input[id="a1"]:checked ~ menu {
    opacity: 1;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

label > * {
    background-color: #111827;
    width: 100%;
    height: 3px;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
}

label > *:last-child {
    margin-bottom: 0;
    width: 20px;
}

.angle {
    opacity: 0;
    border: 20px solid transparent; border-bottom: 15px solid #111827;
    position: absolute;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

menu {
    opacity: 0;
    position: absolute;
    background-color: #FBFEFD;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.02), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    display: block;
    transition: all 0.2s ease-in-out;
}

menu a:hover {
    text-decoration: underline;
}

menu > * {
    margin-bottom: 15px;
}

menu > *:last-of-type {
    margin-bottom: 0;
}

.greeting {
    background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 23px 30px rgba(171, 236, 214, 0.2);
    border-radius: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo {
    width: 100px;
    height: 100px;
    background-color: #EFFFFA;
    border-radius: 50%;
    box-shadow: 0px 25px 50px -12px rgba(182, 237, 207, 0.4);
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-bottom: 42px;
}

.text > * {
    display: inline;
}

.text > hr {
    width: 200px;
    height: 1px;
    background-color: #111827;
    display: block;
    margin: 10px auto;
}

.specialWord {
    background: linear-gradient(105.28deg, #40C4FF 36.75%, #189FFF 82.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.specialWord::before {
    width: 100%;
    height: 10px;
    background: linear-gradient(#FFF278 100%, #F28D2F 100%);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    z-index: -1;
}

.buttonsHeader {
    display: flex;
    align-items: center;
}

.buttonsHeader #but1 {
    padding: 8px 36px;
    background-color: #111827;
    color: white;
    border-radius: 32px;
    margin-right: 16px;
}

#but1:hover {
    background-color: #32353d;
}

#but1:active {
    background-color: #414349;
}

.buttonsHeader #but2 {
    background: none;
    display: inline-flex;
    align-items: center;
}

.buttonsHeader #but2 > *:first-child {
    margin-right: 6px;
}

.lastProd {
    display: flex;
    flex-direction: column;
}

.prodList {
    display: flex;
}

.prodList > * {
    display: flex;
    flex-direction: column;
}

.prodList > * > *:last-child {
    margin-bottom: 0;
}

.prodList > * > .img {
    border-radius: 15px;
    padding: 30px 15px 20px;
}

.prodList .img > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.prod3 > .img {
    background-color: rgb(141, 175, 162);
}

.prod2 > .img {
    background-color: rgb(209, 183, 99);
}

.prod1 > .img {
    background-color: rgb(112, 215, 255);
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags > * {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 999px;
    margin-right: 10px;
}

.tags > *:hover {
    opacity: 0.7;
}

.tags > *:last-child {
    margin-right: 0;
}

.HTML {
    background-color: #38BDF8;
}

.HTML::after {
    content: "HTML";
}

.CSS {
    background-color: #34D399;
}

.CSS::after {
    content: "CSS";
}

.JS {
    background-color: #F59E0B;
}

.JS::after {
    content: "JS";
}

.SASS {
    background-color: #ff92f8;
}

.SASS::after {
    content: "SASS";
}

.Mobile {
    background-color: #fff982;
    color: black;
}

.Mobile::after {
    content: "Mobile";
}

.links {
    display: flex;
}

.link {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.link img {
    margin-left: 6px;
    width: 20px;
    height: 20px;
}

.buttonsProd {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.buttonsProd > img {
    background-color: #F59E0B;
    background-color: #949494;
    border-radius: 999px;
}

.lineText {
    position: absolute;
    top: 15px;
    left: 95px;
    z-index: -1;
}

.aboutMe {
    position: relative;
}

.aboutMe > aside {
    display: flex;
    justify-content: center;
}

.information {
    width: 100%;
}

.information > span {
    display: flex;
    align-items: stretch;
}

.information > span > hr {
    display: block;
    min-width: 5px;
    background-color: #111827;
    border-radius: 999px;
}

.skill {
    display: flex;
    align-items: center;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.skill:last-of-type {
    margin-bottom: 0;
}

.nameSkill {
    display: block;
    margin-right: 20px;
}

.skill img {
    width: 40px;
    height: 40px;
}

.type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.indicator {
    margin-left: 20px;
    width: 100%;
    background: repeating-linear-gradient(
        45deg,
        #d6d6d6,
        #d6d6d6 10px,
        #b8b8b8 10px,
        #b8b8b8 20px);
    border-radius: 5px;
}

.value {
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.skill:nth-of-type(1) .value {
    background: repeating-linear-gradient(
        45deg,
        #f1662a,
        #f1662a 10px,
        #e44f26 10px,
        #e44f26 20px);
}

.skill:nth-of-type(2) .value {
    background: repeating-linear-gradient(
        45deg,
        #33a9dc,
        #33a9dc 10px,
        #1572b6 10px,
        #1572b6 20px);
}

.skill:nth-of-type(3) .value {
    background: repeating-linear-gradient(
        45deg,
        #f5de19,
        #f5de19 10px,
        rgb(65, 65, 65) 10px,
        rgb(65, 65, 65) 20px);
}

.skill:nth-of-type(4) .value {
    background: repeating-linear-gradient(
        45deg,
        #dfdfdf,
        #dfdfdf 10px,
        #83cd29 10px,
        #83cd29 20px);
}

footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    padding: 80px 74px;
    justify-content: space-between;
    background-color: #111827;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 48px 48px 0px 0px;
    color: white;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts hr {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.icons {
    display: flex;
}

@media (min-width: 1280px) {
    h1 {
        font-weight: 600;
        font-size: 72px;
    }

    h2 {
        font-weight: 500;
        font-size: 48px;
    }

    h3 {
        font-weight: 500;
        font-size: 32px;
    }

    h4 {
        font-weight: 400;
        font-size: 24px;
    }

    h5 {
        font-weight: 300;
        font-size: 18px;
    }
    
    .prodList {
        margin: 60px 0;
    }

    .prodList > * {
        margin-right: 21px;
        width: 350px;
    }

    .prodList > *:last-child {
        margin-right: 0;
    }

    header, main {
        padding: 0 90px;
    }

    header,
    main > * {
        margin-bottom: 80px;
    }

    .buttonsProd > *:last-child {
        margin-left: 16px;
    }

    .buttonsProd > *:first-child {
        display: none;
    }

    .greeting {
        padding: 38px 130px;
    }

    .prodList > * > * {
        margin-bottom: 20px;
    }

    .aboutMe > aside {
        margin-top: 40px;
    }

    .aboutMe > aside {
        flex-direction: row-reverse;
        align-items: center;
    }

    .aboutMe > aside > img {
        margin-left: 54px;
    }

    .skills {
        margin-top: 48px;
    }

    .skills > h2 {
        margin-bottom: 40px;
    }

    .information > span > hr {
        margin-right: 20px;
    }

    .contacts hr {
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    .contacts {
        justify-content: space-between;
        margin-right: 64px;
    }

    .specialWord {
        font-size: 48px;
        line-height: 1.2;
    }

    .specialWord::before {
        bottom: 15px;
    }

    .angle {
        top: 80px;
        right: 90px;
    }

    menu {
        top: 115px;
        right: 70px;
        border: 3px solid #111827;
        padding: 44px;
    }

    .buttonsProd > img {
        width: 64px;
        height: 64px;
        padding: 22px 12px;
    }

    .lineText {
        top: 15px;
        left: 95px;
    }

    .skill {
        margin-bottom: 20px;
    }

    .indicator {
        height: 40px;
    }

    .icons > a {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .nameSkill {
        min-width: 120px;
    }

    .tags > * {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
    }
}

@media (max-width: 1279px) {
    h1 {
        font-weight: 600;
        font-size: 48px;
    }

    h2 {
        font-weight: 500;
        font-size: 32px;
    }

    h3 {
        font-weight: 500;
        font-size: 24px;
    }

    h4 {
        font-weight: 400;
        font-size: 16px;
    }

    h5 {
        font-weight: 300;
        font-size: 12px;
    }

    .prodList {
        margin: 40px 0;
        flex-direction: column;
    }

    .prodList > * {
        margin-bottom: 40px;
    }

    .prodList > *:last-child {
        margin-bottom: 0px;
    }

    .prodList > * > .img {
        height: 300px;
    }

    .prodList > * > .img > img {
        height: 100%;
    }

    header, main {
        padding: 0 24px;
    }

    header,
    main > * {
        margin-bottom: 40px;
    }

    .buttonsProd > *:last-child {
        margin-left: 12px;
    }

    .buttonsProd > img:first-of-type {
        display: none;
    }

    .greeting {
        padding: 30px 24px;
    }

    .prodList > * > * {
        margin-bottom: 12px;
    }

    .aboutMe > aside {
        margin-top: 32px;
    }

    .aboutMe > aside {
        flex-direction: column;
    }

    .aboutMe > aside > img {
        height: 300px;
    }

    .aboutMe > aside > img {
        margin-bottom: 32px;
    }

    .skills {
        margin-top: 32px;
    }

    .skills > h2 {
        margin-bottom: 24px;
    }

    .information > span > hr {
        margin-right: 12px;
    }

    footer > img {
        display: none;
    }

    .contacts hr {
        display: none;
    }

    .contacts > * {
        margin-top: 8px;
    }

    .contacts > *:first-child {
        margin-bottom: 24px;
        margin-top: 0;
    }

    .contacts > *:last-child {
        margin-top: 32px;
    }

    .specialWord {
        font-size: 32px;
        line-height: 1.2;
    }

    .specialWord::before {
        bottom: 7px;
    }

    .angle {
        top: 70px;
        right: 22px;
    }

    menu {
        top: 105px;
        right: 5px;
        border: 1px solid #111827;
        padding: 22px;
    }

    .buttonsProd > img {
        width: 48px;
        height: 48px;
        padding: 18px 10px;
    }

    .lineText {
        top: -10px;
        left: -20px;
    }

    .skill {
        margin-bottom: 10px;
    }

    .indicator {
        height: 30px;
    }

    .icons > a {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    .nameSkill {
        min-width: 80px;
    }

    .tags > * {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }
}